<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a href="javascript:void(0)" class="nav-item nav-link" (click)="goBack()">Back</a>
  </div>
  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">New Event</span>
  </div>
</nav>

<div class="container-fluid" >
  <form>
    <div class="form-group">
      <label for="eventname">Event Name:</label>
      <input type="text" class="form-control" id="eventname" required [(ngModel)]="eventAdd.name" name="name">
    </div>
    <div class="form-group">
      <label for="date" class="mr-sm-2">Date:</label>
      <input type="date" class="form-control mb-2 mr-sm-2" id="date" required [(ngModel)]="eventAdd.date" name="date">
    </div>
    <div class="form-group">
      <label for="budget">Budget:</label>
      <input type="number" class="form-control" id="budget" placeholder="0" [(ngModel)]="eventAdd.budget" name="budget">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <div class="form-group">
      <p>
        {{eventAdd.date}}
      </p>
    </div>
  </form>

</div>
