<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a routerLink="/mytrips" class="nav-item nav-link">Back</a>
  </div>
  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">{{tripDate}}</span>
  </div>
</nav>

<div class="container-fluid" >
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="startdate" class="mr-sm-2">Start Date:</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="startdate" [(ngModel)]="newTrip.startDate" name="startDate">
      </div>
      <div class="form-group col-md-6">
        <label for="enddate" class="mr-sm-2">End Date:</label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="enddate" [(ngModel)]="newTrip.endDate" name="endDate">
      </div>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <input type="text" class="form-control" id="location" placeholder="Location" [(ngModel)]="newTrip.location" name="location">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <div class="form-group">
      <p>
        {{newTrip.startDate}} {{newTrip.endDate}}  {{newTrip.location}}
      </p>
    </div>
  </form>

</div>
