
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a href="javascript:void(0)" class="nav-item nav-link" (click)="goBack()">Back</a>
  </div>
  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">Trip Budget</span>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/eventedit" class="nav-link navbar-right">Edit Events</a>
    </li>
  </ul>

</nav>

<div class="container-fluid trips">
  <div class="list-group" *ngFor="let events of Events">
    <a class="list-group-item list-group-item-action w-50 mx-auto" >
      <div class="row">
        <div class="col-sm-3">{{events.name}}</div>
        <div class="col-sm-3">{{events.date |date:'MM/dd/yyyy'}}</div>
        <div class="col-sm-3">{{events.budget}}</div>
      </div>
    </a>
  </div>
</div>
