
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a href="javascript:void(0)" class="nav-item nav-link" (click)="goBack()">Back</a>
  </div>
  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">Trip Budget</span>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/event-add" class="nav-link navbar-right">Add Event</a>
    </li>
  </ul>

</nav>

<div class="container-fluid trips">
  <ul class="list-group" *ngFor="let events of Events">
    <li class="list-group-item  w-75 mx-auto" >
      <div class="row">
        <div class="col-sm-2">{{events.name}}</div>
        <div class="col-sm-2">{{events.date | date:'MM/dd/yyyy'}}</div>
        <div class="col-sm-2">{{events.budget | currency}}</div>
        <button class="btn btn-outline-success" (click)="onSelect(events, events.$key)">Edit</button>
        <button class="col-sm-2 btn btn-outline-danger" (click)="onDelete(events, events.$key)">Delete</button>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="selectedEvent">

  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">Edit: {{selectedEvent.name}}</span>
  </div>

  <div class="container-fluid trips">
    <ul class="list-group" *ngFor="let events of Events">
      <p *ngIf="events === selectedEvent">
      <li class="list-group-item  w-75 mx-auto" >
        <div class="row">
          <label for="eventname">Event Name:</label>
          <input type="text" class="form-control" id="eventname" required [(ngModel)]="events.name" name="name">
          <label for="date" class="mr-sm-2">Date:</label>
          <input type="date" class="form-control mb-2 mr-sm-2" id="date" required [(ngModel)]="events.date" name="date">
          <label for="budget">Budget:</label>
          <input type="number" class="form-control" id="budget" placeholder="0" [(ngModel)]="events.budget" name="budget">
          <button class="btn btn-outline-success" (click)="onSelect(null)">Done</button>
        </div>
    </li>
    </ul>
  </div>
</div>
