<div class="w3-bar w3-light-gray">
  <a href="login.html" class="w3-bar-item w3-button" style="width:16.7%">Login</a>
  <span class="w3-bar-item w3-center" style="width:66%">Homepage</span>
</div>
<div class="w3-cell-row">
  <a routerLink="/mytrips" routerLinkActive="active" class="w3-bar-item w3-button" style="width:100%">My Trips</a>
</div>
<br>
<p>Any user can search for results on this page without a login.</p>
<div class="w3-cell-row">
  <a routerLink="/flight-results" routerLinkActive="active" class="w3-bar-item w3-button" style="width:100%">Search Results</a>
</div>
