<nav class="navbar navbar-dark bg-primary">
    <a  href="javascript:void(0)" class="text-light" (click)="goBack()">Back to Calendar</a>
    
  <div class="container justify-content-center">
      <p class="text-center text-light"> Day View </p>
  </div>
</nav>



<table class="table table-striped">
  <thead>
      <th scope="col">Event Name</th>
      <th scope="col">Date</th>
  </thead>
  <tbody>
    <tr *ngFor="let event of (EventsListObservable | async)">
    <!--
      <th scope="row" *ngIf="dateClicked === event.date"> {{event.name}}  </th>
      <th scope="row" *ngIf="dateClicked === event.date"> {{event.date}}  </th>
    -->
      <th scope="row" > {{event.name}}  </th>
      <th scope="row" > {{event.date}}  </th>
    </tr>
  </tbody>
</table>


