<nav class="navbar navbar-dark bg-primary">
    <a  href="javascript:void(0)" class="text-light" (click)="goBack()">Back to Calendar</a>
  <div class="container justify-content-center">
      <span  class="navbar-brand mx-5">{{event.date |date:'MM/dd/yyyy'}}</span>
    </div>
</nav>

<div class="container-fluid ">
  <div class="list-group">
    <a class="list-group-item list-group-item-action w-100 mx-auto" >
      <div class="row" *ngFor="let event of EventsList">
        <div class="col-sm-3"> 
          <ul  >{{event.name}}</ul>
        </div>
        <div class="col-sm-3" >
          <ul >{{event.date}}</ul>
        </div>
      </div> 
    </a>
  </div>
</div>

<p>
  
</p>

