
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/homepage" class="nav-link">Logout</a>
      </li>
      <span  class="navbar-text">My Trips</span>
      <li class="nav-item">
        <a href="newtrip.html" class="nav-link">+</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="list-group">
      <a routerLink="/triphome" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-1">Trip 1</div>
          <div class="col-sm-2">Trip 1 date</div>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-1">Trip 2</div>
          <div class="col-sm-2">Trip 2 date</div>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action">
        <div class="row">
          <div class="col-sm-1">Trip 3</div>
          <div class="col-sm-2">Trip 3 date</div>
        </div>
      </a>
    </div>
  </div>
