<div class="container-fluid">
  <form>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Username" [(ngModel)]="newUser.username" name="userName">
    </div>
    <div class="form-group">
      <label for="password">Passowrd:</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="newUser.password" name="password">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname" class="mr-sm-2">First Name:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="firstname" placeholder="John" [(ngModel)]="newUser.firstname" name="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="lastname" class="mr-sm-2">Last Name:</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="lastname" placeholder="Doe" [(ngModel)]="newUser.lastname" name="LastName">
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="example@email.com" [(ngModel)]="newUser.email" name="Email">
    </div>
    <button type="submit" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="onSubmit()">Create New Account</button>
  </form>
</div>
