<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="navbar-nav">
    <a routerLink="/homepage" class="nav-item nav-link">Cancel</a>
  </div>
  <div class="container justify-content-center">
    <span  class="navbar-brand mx-5">Homepage</span>
  </div>
</nav>
<br>
<div class="container-fluid">
  <form name="userform" method="post" #formCtrl="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail">Email address</label>
      <input type="email" id="exampleInputEmail" class="form-control" [(ngModel)]="user.email" name='email' placeholder="example@email.com" required>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" id="exampleInputPassword" class="form-control" [(ngModel)]="user.password" name='password' placeholder="Password" required>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Remember me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">
        Login with Email
      </button>
    </div>
  </form>
</div>

<app-new-user></app-new-user>

